@using JobBoard.Models;

<h1>Job Board</h1>
@if (Model.Count == 0)
{
  <p>There are currently no job openings.</p>
}
@foreach (JobOpening jobOpening in Model)
{
  <h3>@jobOpening.Title</h3>
  <p>@jobOpening.Description</p>
  <p><strong>Contact:</strong> @jobOpening.ContactInfo.Name | <strong>Phone:</strong> @jobOpening.ContactInfo.Phone | <strong>Email address:</strong> @jobOpening.ContactInfo.Email</p>
  <br>
}
<ul class="other-links">
  <li><a href="/">Go Home</a></li>
  <li><a href="/jobopenings/new">Enter another job opening</a>
</ul>